[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim-plugins/morhetz/gruvbox"]
	path = vim-plugins/morhetz/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim-plugins/lifepillar/pgsql.vim"]
	path = vim-plugins/lifepillar/pgsql.vim
	url = https://github.com/lifepillar/pgsql.vim
[submodule "vim-plugins/vim-scripts/dbext.vim"]
	path = vim-plugins/vim-scripts/dbext.vim
	url = https://github.com/vim-scripts/dbext.vim
[submodule "vim-plugins/scrooloose/nerdtree"]
	path = vim-plugins/scrooloose/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim-plugins/Xuyuanp/nerdtree-git-plugin"]
	path = vim-plugins/Xuyuanp/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "vim-plugins/tpope/vim-fugitive"]
	path = vim-plugins/tpope/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-plugins/airblade/vim-gitgutter"]
	path = vim-plugins/airblade/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim-plugins/tpope/vim-unimpaired"]
	path = vim-plugins/tpope/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim-plugins/mhinz/vim-grepper"]
	path = vim-plugins/mhinz/vim-grepper
	url = https://github.com/mhinz/vim-grepper
[submodule "vim-plugins/vim-airline/vim-airline"]
	path = vim-plugins/vim-airline/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-plugins/ervandew/supertab"]
	path = vim-plugins/ervandew/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim-plugins/vim-syntastic/syntastic"]
	path = vim-plugins/vim-syntastic/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "vim-plugins/neomake/neomake"]
	path = vim-plugins/neomake/neomake
	url = https://github.com/neomake/neomake
[submodule "vim-plugins/elixir-editors/vim-elixir"]
	path = vim-plugins/elixir-editors/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule "vim-plugins/elixir-lsp/coc-elixir"]
	path = vim-plugins/elixir-lsp/coc-elixir
	url = https://github.com/elixir-lsp/coc-elixir.git
[submodule "vim-plugins/neoclide/coc.nvim"]
	path = vim-plugins/neoclide/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim-plugins/elixir-lsp/elixir-ls"]
	path = vim-plugins/elixir-lsp/elixir-ls
	url = https://github.com/elixir-lsp/elixir-ls
[submodule "vim-plugins/tpope/vim-endwise"]
	path = vim-plugins/tpope/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim-plugins/dracula/vim"]
	path = vim-plugins/dracula/vim
	url = https://github.com/dracula/vim.git
[submodule "vim-plugins/kyoz/purify"]
	path = vim-plugins/kyoz/purify
	url = https://github.com/kyoz/purify.git
[submodule "vim-plugins/sonph/onehalf"]
	path = vim-plugins/sonph/onehalf
	url = https://github.com/sonph/onehalf.git
[submodule "vim-plugins/tomasr/molokai"]
	path = vim-plugins/tomasr/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim-plugins/pangloss/vim-javascript"]
	path = vim-plugins/pangloss/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-plugins/leafgarland/typescript-vim"]
	path = vim-plugins/leafgarland/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim-plugins/maxmellon/vim-jsx-pretty"]
	path = vim-plugins/maxmellon/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "vim-plugins/shapeoflambda/dark-purple.vim"]
	path = vim-plugins/shapeoflambda/dark-purple.vim
	url = https://github.com/shapeoflambda/dark-purple.vim.git
